/* .cart{ */
    /* display: block;
    width: 100px;
    height: 100px;
    background-color: rgb(123, 13, 13); */
/* } */
/* .img{
    width: 100%;
}
.box{
    width: 200px;
    height: 200px; */
    /* background-color: rgb(73, 12, 12); */
    /* background-image: url("./image/icon-shipper.png");
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

#owl-demo .item{
    background: #42bdc2;
    padding: 30px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
  }